#logo {
    position: absolute;
    left: 0; right: 0; 
    margin: auto;
    z-index: -1;
}
#page {
    margin-left: 10%;
    margin-right: 10%;
}
body {
    background-image: url(bg/wave.png);
    background-attachment: fixed;
}
.btn span.fas {    			
	opacity: 0;				
}
.btn.active span.fas {				
	opacity: 1;				
}